.franja{
      height:auto;
      border-bottom:1px solid #eee;
      box-sizing: border-box;
      padding:20px;
      position:fixed;
      z-index: 100;
      width: 100%;
      background: rgba(0,0,0,0.6);
    }
    
.menu{
  float:right;
  width:50%;
  text-align:right;
  box-sizing: border-box;
  overflow: hidden;
  padding-top:1%;

  

}

.menu a{
  text-decoration:none;
  margin-right: 1rem;
  color: #BDBDBD;


}

.menu a:hover{
  color: #FAFAFA;
  text-decoration:underline; 

}

li{
  display:inline-block;
  text-decoration:none;
  color:#E6E6E6;
}

.logo{
  float:left;
  width:50%;
  text-align:left;
  box-sizing: border-box;
  overflow: hidden;

  
}
.tam{
  font-size: 2em;
}


.logo a{
  color:#E6E6E6;
}



.principal{
  height:500px;
}

.pad{
padding-top:300px;
color:#E6E6E6;
font-size:20px;
}

.subra{
    z-index: 100;
    width: 100%;
    background: rgba(0,0,0,0.2);

}


.iphone{

padding-top:130px;
padding-bottom:100px;

}

.fondo{
  background-image: url("../images/mont.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  clear:both;

}



/*Nuevo*/

.columnas, .video, .info, .newsletter{
	background:#FFFFFF;
	height:auto;
	padding-top:100px;
  padding-bottom:50px;
	box-sizing:border-box;

}

.discover{
	background:#E6E6E6;
	height:auto;
	box-sizing:border-box;
  padding-top:100px;
  padding-bottom:50px;

}
.butdown{
  height: auto;
  width: auto;
  padding: 3% 3% 3% 6%;
  margin-right: 2%;
  border-radius: 5%;
  font-style: normal;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  color: white;
  background-color: #10bbf1;

}
.butdown:hover{
  color: white;
  background-color:#40c9f4;

}
.downtit{
  padding: 11px 0 1px;
  margin-right: 12%;
  display: block;
  font-size: 0.65em;
  line-height: 13px;
  text-align: left;
  float: right;
}
.downtitapp{
  margin-right: 23%;
}
.downsub{
  display: block;
  font-size: 1.4em;
  line-height: 23px;
  text-align: left;
  float: right;
}
.ico00{
  float: left;
  font-size: 3em;
}
.fli{
  clear: both;
}
.tixt{
  text-align: left;
}






/*Alberto*/
ul{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}

.social-list {
    display: inline-block
}

.social-list li {
    font-size: 19px;
    line-height: 38px;
    float: left;
    margin: 0 9px;
}

.social-list li a {
    font-size: 15px;
    line-height: 38px;
    display: block;
    width: 160px;
    height: 38px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #3bcbff;
    color: white;
    text-align: center;
    -moz-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
    -ms-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
    -o-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
    -webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
    transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
}

.social-list li a:hover {
    background-color: #6ed9ff
}

.social-list li a:active {
    background-color: #08bdff
}

.social-list li a.social-facebook {
    background-color: #1e3aa6
}

.social-list li a.social-facebook:hover {
    background-color: #2649d1
}

.social-list li a.social-facebook:active {
    background-color: #162b7b
}

.social-list li a.social-google {
    background-color: #d72d26
}

.social-list li a.social-google:hover {
    background-color: #e05650
}

.social-list li a.social-google:active {
    background-color: #ac241e
}

.social-list li {
      float: none;
      text-align: center;
      padding-top: 20px;
  }

  .social-list li:first-child {
      padding-top: 0
  }

  .social-list li a {
      margin-left: auto;
      margin-right: auto;
  }


/*modificaciones irene*/

.video{
  text-align:center;
  height:auto;
}

.azul{
  background:#2ECCFA;
  height:auto;
  padding-top:100px;
  padding-bottom:50px;
  box-sizing:border-box;
  text-align:center;
  color:#FFFFFF;
  font-size:20px;
}

.info{
height:auto;
padding-top:100px;
padding-bottom:50px;
}

.info li{
  display:block;
  color:black;
}

.lista{
  padding-left:20px;
}

.newsletter{
  background:#E6E6E6;
  text-align:center;
  padding-top:100px;
  padding-bottom:50px;
}

footer{
  background:#2E2E2E;
  text-align:center;
  color:#FFFFFF;
  height:300px;
  padding-top:150px;
  font-size:15px;
  box-sizing:border-box;
  }

  .scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../images/icon_top.png') no-repeat;
    z-index: 999999
}


h1 span{
  font-weight: lighter;
  font-size: 20px;
}